*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: black;
    display: flex;
    height: 100vh;
}

h1{
    color: transparent;
    margin: auto;
    font-size: 120px;
    background-image: url(../image/img5.jpg);
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    
    -webkit-text-stroke: 1.5px white;
}